

.filtergroup-wrapper{
  display:grid;
  align-items:center;
  min-width:740px;
  box-sizing:border-box;
  flex:1 1 auto;
  grid-template-columns:repeat(5,auto 1fr);
  grid-template-rows:1fr 1fr;
  grid-column-gap:2px;
  grid-row-gap:5px;
}

.filtergroup-wrapper .el-date-editor.el-input{
  width:100%;
}

