/* .filtergroup-container{
  display:flex;
  align-items:center;
  width:20%;
  min-width:100px;
} */

.filtergroup-container .filteritem-label{
  flex:0 0 55px;
  display:inline-flex;
  justify-content:flex-end;
  white-space: nowrap;
  font-size:11px;
  padding-right:3px;
  transition: box-shadow .2s cubic-bezier(.645,.045,.355,1);
  color:#333;
}

.filtergroup-container .filteritem-label:hover{
  box-shadow: #bebebe -2px 0 5px 2px;
}
.filtergroup-container .el-input{
  flex: 1 1 130px;
}
.filtergroup-container .el-input>.el-input__inner{
  height: 26px;
  font-size: 11px;
  width: 100%;
}

/*日期控件的样式*/
.filtergroup-container .el-date-editor{
  height:26px;
  flex:1 1 130px;
}

.filtergroup-container .el-date-editor>.el-input{
  height:100%;
  width:100%;
}

.filtergroup-container .el-date-editor>.el-input>.el-input__inner{
  height:100%;
  width:100%;
  font-size:11px;
}

.filtergroup-container .el-input__icon{
  width:25px;
}

.filtergroup-container .el-date-editor>.el-picker-panel.el-date-picker{
  transform-origin: left top 0px !important;
  transform: scale(0.65) translateY(36px) !important;
  z-index:9999 !important;
}

/*下拉选择select*/
/*日期控件的样式*/
.filtergroup-container .el-select{
  height:26px;
  flex:1 1 130px;
}

.filtergroup-container .el-select>.el-input{
  height:100%;
  width:100%;
}

.filtergroup-container .el-select>.el-input>.el-input__inner{
  height:100%;
  width:100%;
  font-size:11px;
}

.filtergroup-container .el-select-dropdown__item>span{
  font-size:11px;
}

/*数字*/
.filtergroup-container .el-input-number{
  height:26px;
  flex:1 1 60px;
  width:auto;
}

.filtergroup-container .el-input-number>.el-input{
  height:100%;
  width:100%;
}

.filtergroup-container .el-input-number>.el-input>.el-input__inner{
  height:100%;
  width:100%;
  font-size:11px;
  padding-right:17px;
  padding-left:0;
}
.filtergroup-container .el-input-number>span{
  width:16px;
  height:50%;
  line-height:1em;
}
.filtergroup-container .el-input-number>span:nth-of-type(2){
  right:0;
}
.filtergroup-container .el-input-number>span:nth-of-type(1){
  top:12px;
  right:0;
  border-top:1px solid #bfcbd9;
}

.filtergroup-container .el-input-number>span>i{
  transform: scale(0.7);
}

.filtergroup-container .has-value .el-input__inner,.filtergroup-container .has-value .el-input__inner{
  background-color:rgb(250, 230, 205);
  background-clip:border-box;
}
.filtergroup-container .el-date-editor>.el-input.el-date-editor--year>.el-input__inner {
  text-align: right;
}

.filtergroup-container .el-select__tags {
  white-space: nowrap;
  top: 0;
  transform: translateY(0);
  overflow: auto;
  height: 40px;
}

.filtergroup-container .el-select .el-tag {
  margin-top: 1px;
}