.orderpanel-wrapper{

}

.orderpanel-wrapper  .el-dialog__wrapper{
  overflow:hidden;
  top:0 !important;
}

.orderpanel-wrapper  .el-dialog--small{
  width:800px;
  margin-bottom:0 !important;
  transform:translateX(0);
  right:27px;
  left:auto;
}

.orderpanel-wrapper .el-dialog__body{
  font-size:12px;
  padding:20px;
}


.orderpanel-wrapper  .el-dialog__header{
  display:none;
}

.orderpanel-wrapper .arrow{
  /*content:" ";*/
  border-width: 0  9px  5px 9px;
  position: absolute;
  /*display: block;*/
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: #fff;
  top: -5px;
  right:53px;
  z-index: 2;
}

/*.orderpanel-wrapper .arrow-border{
  border-width: 0  10px  6px 11px;
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-bottom-color: #ddd;
  top: -6px;
  right: 51px;
  z-index:1;
}*/

.orderpanel-wrapper .scroll-container{
  width:100%;
  overflow:hidden;
}

.orderpanel-wrapper .scroll-wrapper{
width:calc(100% + 25px);
max-height:370px;
overflow: auto;
overflow-x: hidden;
}

.orderpanel-wrapper .scroll-wrapper {
  position: relative;
  z-index: 1;
  overflow: auto;
  background: #FFF no-repeat;
  background-image: -webkit-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: -moz-radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -moz-radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-image: radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  background-position: 0 0, 0 100%;
  background-size: 100% 14px;
}

.orderpanel-wrapper .scroll-wrapper:before,
.orderpanel-wrapper .scroll-wrapper:after {
  content: "";
  position: relative;
  z-index: -1;
  display: block;
  height: 30px;
  margin: 0 0 -30px;
  background: -webkit-linear-gradient(top, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
  background: -moz-linear-gradient(top, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
  background: linear-gradient(to bottom, #FFF, #FFF 30%, rgba(255, 255, 255, 0));
}

.orderpanel-wrapper .scroll-wrapper:after {
  margin: -30px 0 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #FFF 70%, #FFF);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0), #FFF 70%, #FFF);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFF 70%, #FFF);
}

.orderpanel-wrapper .el-dialog__body .items-container{
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  display:flex;
  flex-flow:row wrap;
  width:calc(100% - 26px);
}

.orderpanel-wrapper .el-dialog__body>.info{
  font-size: 13px;
  padding: 10px 20px;
  color: #ff5a00;
}

.orderpanel-wrapper .el-dialog__body>.button-wrapper{
  padding-top: 10px;
  display:flex;
  justify-content: flex-end;
}

.orderpanel-wrapper .el-dialog__body>.button-wrapper>.el-button{
  min-width: 70px;
}

.sortableHelper{
  z-index:9999;
  border:1px solid #ccc;
  box-shadow: #bebebe -2px 0 5px 2px;
  background:#fff;
}
